<div id="comments">
</div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
	const gitment = new Gitment({
		id: '<%- truncate(post.title, {length:50}) %>', // optional
		owner: '<%- theme.gitment.owner %>',
		repo: '<%- theme.gitment.repo %>',
		oauth: {
			client_id: '<%- theme.gitment.oauth.client_id %>',
			client_secret: '<%- theme.gitment.oauth.client_secret %>',
		},
		// ...
		// For more available options, check out the documentation below
	})
	gitment.render('comments');
</script>
